# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

#IDE
.vscode/
.idea/

#OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Python build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

#Local database
*.db
*.sqlite3

# Uploaded documents
uploads/

# Logs
*.log


